{% extends 'base.html' %}

{% block title %} Create Product {% endblock title %}

{% block content %}
     <div class="mt-5">
       {{ heading }}
     </div>
    <div class="row">
        <div class="col">
            <div>
                <form action="" method="POST" enctype="multipart/form-data">
                    
                    {% csrf_token %}
                   
                    {% load crispy_forms_tags %}
                    {{ form|crispy }}
                    
                    <button type="submit" class="btn btn-primary">Submit</button>
                    
                </form>    
            </div>
        </div>
        <div class="col">
           
            
        </div>
    </div>
   
{% endblock content %}
    
    